.feedback-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 408px;
    height: 296px;
}

label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    
}

input {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 16px 0 16px 16px;
    outline: none;
}

input:hover{
    border: 1px solid #000;
}

textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    padding: 16px 0 16px 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: none;
    margin-bottom: 16px;
}

textarea:hover{
    border: 1px solid #000;
}

button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    outline: none;
}

button:hover{
    background-color: #6c8cff; 
}
